<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>IoTReady</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename = 'assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',filename = 'assets/css/aos.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static',filename = 'assets/css/Navbar-Centered-Brand-Dark-icons.css')}}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3" data-aos="fade-up" data-aos-duration="200" data-aos-delay="200">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>IoT Ready</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link active" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                    <li class="nav-item"><a class="nav-link" href="#"></a></li>
                </ul>
            </div>
            
        </div>
    </nav>

    {% block content %}
    
    
    
    {% endblock content %}


    <script src="{{ url_for ('static',filename = 'assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for ('static',filename = 'assets/js/aos.min.js')}}"></script>
    <script src="{{ url_for ('static',filename = 'assets/js/bs-init.js')}}"></script>
</body>

</html>